<html lang="en"><head>
        <title>Game - Name it</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- main page styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

        <!-- this needs to be loaded before guide's inline scripts -->
       <script src="js/vue.js"></script>
    </head>
    <body>   
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="#about">about</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#about">about</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
    	<div id="app">
			<div class="mdl-grid">
			  <div class="mdl-cell  mdl-cell--12-col mdl-cell--12-col-tablet">
			  	<h3>
			  		{{title}}
			  	</h3>
			  	<p>{{description}}</p>
			  	<p><span>{{cptSeen}} items found on {{this.items.length}} : {{getTimeSeconds()}}</span></p>

			  	  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="search" 					   
    					v-model="search"
					    v-on:keyup.enter="checkItems"
					    placeholder="find an item">

    <label class="mdl-textfield__label" for="search">Text...</label>
  </div>
			  </div>
			</div>			
			<div class="mdl-grid">
			  <div class="mdl-cell  mdl-cell--12-col mdl-cell--12-col-tablet">
				  <ul class="demo-list-item mdl-list">
				    <display-item v-for="item in items"  v-if="item.seen" v-bind:display="item"></display-item>
				  </ul>
			  </div>
			</div>
		</div>
    </div>
  </main>
</div>    

</body>

	<script type="text/javascript">

	var contains = function(needle) {
	    // Per spec, the way to identify NaN is that it is not equal to itself
	    var findNaN = needle !== needle;
	    var indexOf;

        var i = -1, index = -1;

        for(i = 0; i < this.length; i++) {
            var item = this[i];

            if((findNaN && item.title !== item.title) || item.title === needle) {
                index = i;
                break;
            }
        }
        return index;	    
	};

		Vue.component('display-item', {
		  props: ['display'],
		  template: '<li class="mdl-list__item">{{ display.title }}</li>'
		})


		var app = new Vue({
		  el: '#app',
		  data: {
		  	search : '',
  	        timerStartedAt: Date.now(),
        	timerCurrentTime: Date.now(),
		  	title : 'Street Fighter II',
		  	description : 'Find the characters of Street Fighter II',
		  	cptSeen : 0,
		    items: [
		      { seen: false, title: 'Akuma' },
		      { seen: false, title: 'Balrog' },
		      { seen: false, title: 'Blanka' },
		      { seen: false, title: 'Cammy' },
		      { seen: false, title: 'Chun-Li' },
		      { seen: false, title: 'Dee Jay' },
		      { seen: false, title: 'Dhalsim' },
		      { seen: false, title: 'Honda' },
		      { seen: false, title: 'Guile' },
		      { seen: false, title: 'Ken' },
		      { seen: false, title: 'M.Bison' },
		      { seen: false, title: 'Ryu' },
		      { seen: false, title: 'T.Hawk' },
		      { seen: false, title: 'Vega' },
		      { seen: false, title: 'Zangief' }
		    ],		    
		  },
			created:function(){
				var that = this;
				window.setInterval(
					function(){		
						if(that.cptSeen != that.items.length){
        					that.timerCurrentTime = new Date();
						}			 
    				}, 1000);	
			},
	      methods: {
		    checkItems: function () {
		    	index = contains.call(this.items, this.search);
		    	if(index != -1 && !this.items[index].seen){
		    		this.items[index].seen = true;
		    		this.cptSeen++;
		    	} else {
		    		console.log('nay')
		    	}
		      this.search = ''
		    },
		    getTimeSeconds() {
		        return Math.round((this.timerCurrentTime - this.timerStartedAt)/ 1000, 2);
		    }
		  }
		})
	</script>
</html>